POSTGRES_DB=pumpr
POSTGRES_USER=pumpr
POSTGRES_PASSWORD=changeme
FUEL_FINDER_CLIENT_ID=your_client_id_here
FUEL_FINDER_CLIENT_SECRET=your_client_secret_here
FUEL_FINDER_TOKEN_URL=https://api.fuel-finder.service.gov.uk/oauth/token
FUEL_FINDER_API_URL=https://api.fuel-finder.service.gov.uk
POLL_INTERVAL_MINUTES=30
SECRET_KEY=changeme
ENVIRONMENT=production
