FUEL_FINDER_CLIENT_ID=your_client_id
FUEL_FINDER_CLIENT_SECRET=your_client_secret
FUEL_FINDER_TOKEN_URL=https://www.fuel-finder.service.gov.uk/api/v1/oauth/generate_access_token
FUEL_FINDER_API_URL=https://www.fuel-finder.service.gov.uk
POSTGRES_USER=pumpr
POSTGRES_PASSWORD=choose_a_strong_password
POSTGRES_DB=pumpr
SECRET_KEY=run: openssl rand -hex 32
ENVIRONMENT=production
OCM_API_KEY=your_ocm_key
BSKY_HANDLE=pumpr-app.bsky.social
BSKY_APP_PASSWORD=your_bsky_app_password
POLL_INTERVAL_MINUTES=30
